appdirs==1.4.0
backports-abc==0.5
certifi==2017.1.23
cycler==0.10.0
dask==0.13.0
decorator==4.0.11
matplotlib==3.7.1
networkx==3.1
numpy==1.24.2
olefile==0.44
packaging==23.1
pep8==1.7.0
Pillow==9.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2016.10
scikit-image==0.20.0
scipy==1.9.1
singledispatch==3.4.0.3
six==1.10.0
snakeviz==0.4.1
toolz==0.12.0
tornado==4.4.2
